<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>    
<body>
    <h3>Please enter Item Info</h3>
    
    <p>This page has an issue with the list of items at the bottom. it is supposed to show the last items added to the database. Really just shows the last three items in the database by ID. for some reason it is an item behind. you have to add two, then they will start showing up. i think its a problem with my query</p>

    <form method="POST" action="/add-Item-Form" onsubmit="myButton.disabled = true; return true;">
        <label for="barcode">Barcode:</label>
        <input type="text" name="barcode" maxlength="200" id="barcode" autofocus="true" required="true"/>

        <br />

        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" maxlength="200" id="quantity" required="true"/>

        <br />

        <label for="expirationDateString">Expiration Date:</label>
        <input type="date" name="expirationDateString" id="expirationDateString" required="true"/>

        <br />

        <label for="itemName">Item Name:</label>
        <input type="text" name="itemName" id="itemName" required="true"/>

        <br />

        <label for="unit">Unit:</label>
        <input type="text" name="unit" id="unit" required="true"/>

        <br />

        <label for="location">Location:</label>
        <input type="text" name="location" id="location" required="true"/>

        <br />

        <label for="price">Price per Unit:</label>
        <input type="text" name="price" id="price" required="true"/>

        <br />

        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required="true"/>

        <p><input type="submit" name="myButton" value="Add Item"/></p>
    </form> 
    
    <ul class="item-list" th:each="item: ${itemsModel}" >
        <li> <a th:text="${'Barcode: ' + item.Barcode + ' Quantity: ' + item.Quantity + ' Expiration Date: ' + item.ExpirationDate + ' Name: ' + item.Name + ' Unit: ' + item.Unit + ' Location: ' + item.Location + ' Price: ' + item.Price + ' Description: ' + item.Description}"></a> </li>
    </ul>
    
<a href="mainPage"><button>Home</button></a>
<button>Edit Item</button>
<a href="deleteItem"><button>Delete Item</button></a>
<button>Look Up Item</button>

</body>
</html>