<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>IMS</title>
</head>
<body>

    <div class="item" th:each="item: ${editModel}">
            <div th:id="'item-'+ ${item.id}">
        <a th:text="${'Barcode: ' + item.Barcode + ' Quantity: ' + item.Quantity + ' Expiration Date: ' + item.ExpirationDate + ' Name: ' + item.Name + ' Unit: ' + item.Unit + ' Location: ' + item.Location + ' Price: ' + item.Price + ' Description: ' + item.Description}"></a>
            </div>
    </div>    
<a href="addItemPage"><button>Add Item</button></a>
<button>Edit Item</button>
<a href="deleteItem"><button>Delete Item</button></a>
<button>Look Up Item</button>

</body>
</html>