<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMS</title>
</head>
<body>
    <h3>These Items are going bad.</h3>
    <p>This page only shows items on the "Warning List" these are items that will expire soon, have expired and expire today.</p>
    <p>I have three methods in the InventoryItem.class. each one checks the items date and Todays actual Date. I want isExipred items to be Red, isExpiringTomorrow items to be Yellow, isSoonToExpire items to be green.</p>

    <ul class="item-list" th:each="item: ${itemsModel}" th:if="${item.isOnWarningList()}">
			<li> <a th:href="@{/editItem/(id=${item.id})}" th:text="${item.Name + ' Date: ' + item.ExpirationDate + ' Location: ' + item.Location}"></a> </li>
    </ul>

        
<a href="addItemPage"><button>Add Item</button></a>
<button>Edit Item</button>
<a href="deleteItem"><button>Delete Item</button></a>
<button>Look Up Item</button>

</body>
</html>